:root {
    --accent-color: #C271FF;
}

* {
    margin: 0;
    padding: 0;
}

.btn-primary {
    background-color: var(--accent-color) !important;
}

.btn-primary:hover {
    opacity: 0.9;
}


body {
    font-family: 'Source Sans Pro', sans-serif;
}

header {
    height: 100%;
    width: 100%;
    background-image: url('./images/pic_1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.accent-colors {
    color: var(--accent-color);
}

.navbar-toggler {
    color: white;
}

.navbar-toggler:active {
    border: solid;
    border-color: orange;
}

@media (max-width: 576px) {
    h1 {
        font-size: 6rem !important;
    }

    /* add media query for header background height and width changes */
}