:root {
    --accent-color: #C271FF;
}

* {
    margin: 0;
    padding: 0;
}

.btn-primary {
    background-color: var(--accent-color) !important;
}

.btn-primary:hover {
    opacity: 0.9;
}

#quotes-carousel {
    background-color: var(--accent-color);
}


body {
    font-family: 'Source Sans Pro', sans-serif;
}

header {
    height: 100%;
    width: 100%;
    background-image: url('./images/pic_1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.accent-colors {
    color: var(--accent-color);
}

.navbar-toggler {
    color: white;
}

.navbar-toggler:active {
    border: solid;
    border-color: orange;
}

.play-image {
    position: absolute;
    width: 40%;
    margin-top: 3%;
    margin-left: 20%;
}

.card-header-custom {
    position: relative;
    background-size: cover;
    background-position: center;
    padding-bottom: 50%;
}

#card-header-1 {
    background-image: url(./images/thumbnail_4.jpg) !important;
}


#card-header-2 {
    background-image: url(./images/thumbnail_3.jpg) !important;
}


#card-header-3 {
    background-image: url(./images/thumbnail_1.jpg) !important;
}


#card-header-4 {
    background-image: url(./images/thumbnail_2.jpg) !important;
}

#card-header-1-latest {
    background-image: url(./images/thumbnail_5.jpg) !important;
}

#membership-section {
    background: #071629;
}

#footer-section {
    background: #071629;
}

#footer-icons {
    font-size: 40px;
}

.membership-item {
    font-size: 14px;
}

@media (max-width: 576px) {
    #hero-title {
        font-size: 6rem !important;
    }

    .quote-carousel-controls {
        padding-right: 6rem;
        padding-left: 6rem;
        padding-bottom: 12rem;
    }

    /* add media query for header background height and width changes */
}